<div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5>owner or pet name</h5>
      </div>
      <div class="col l3 s12">
        <h5>Owner or pet name</h5>
        <ul>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5>Start date - end date</h5>
        <ul>
        </ul>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col 16 s12">
      <img src="https://i.ytimg.com/vi/2EfHtzauHcM/maxresdefault.jpg" alt="">
    </div>
  </div>