<!DOCTYPE html>
<html>
<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="/css/style.css">
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="/js/materialize.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
</head>


<!-- navbar -->

<ul id="slide-out" class="side-nav" style="transform: translateX(0px);">
  <li><div class="user-view">
    <div class="background">
      <img src="">
    </div>
    <a href="#!user"><img class="circle" src=""></a>
    <a href="#!name"><span class="green-text name">Susie Smith</span></a>
    <a href="#!email"><span class="green-text email">meowcatmeow@gmail.com</span></a>
  </div></li>
  <li><a href="#!"><i class="material-icons">account_circle</i>My Pet Profile</a></li>
  <li><div class="divider"></div></li>
  <li><a class="subheader">Activity</a></li>
  <li><a href="#!">Notifications</a></li>
  <li><a class="waves-effect" href="#!">My Neighborhood Bulletin</a></li>
  <li><a class="waves-effect" href="/sugar">My Cups of Sugar</a></li>
</ul>

<!-- end navbar -->

<body>
  <nav class="lighten-1" role="navigation">
    <div class="nav-wrapper" id="navbar">
      <button data-activates="slide-out" class="button-toggle-profile waves-effect waves-light btn " id="button-toggle-profile">Profile</button>
      <a id="logo-container" href="/" class="brand-logo">Pet OPair</a>
      <!-- Dropdown Structure -->


      <ul id="dropdown1" class="dropdown-content">
        <li><a href="badges.html">About</a></li>
        <li class="divider"></li>
        <li><a href="#!">Contact</a></li>
        <li class="divider"></li>
        <li><a href="#!">Disclaimer</a></li>
      </ul>

      <ul class="right hide-on-med-and-down">
        <li><a href="badges.html">About</a></li><li><span>|</span></li>
        <li><a href="#!">Contact</a>|</li><li><span>|</span></li>
        <li><a href="#!">Disclaimer</a></li>
        <!-- Dropdown Trigger -->

        <!-- modal goes here -->
        <a class="waves-effect waves-light btn modal-trigger" href="#modal"> Login </a>
        <!-- Modal Structure -->
        <div id="modal" class="modal open bottom-sheet">
          <div class="modal-content">
            <h4>Modal Header</h4>
            <p>A bunch of text</p>
          </div>
          <div class="modal-footer green">
            <a href="#!" class="modal-action modal-close waves-effect btn-flat">Close</a>
          </div>
        </div>
        <!-- modal ends here -->
      </li>
    </ul>
    <!--Added a place for the menu items to collapse into on smaller screens -->
    <ul class="right show-on-med-and-down hide-on-large-only  ">
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons right">menu</i></a></li>
    </ul>
  </div>
</nav>

<!-- end nav -->


<!--
  <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a> -->
  <div class="row">
    <div class="section no-pad-bot col s4 offset-s4" id="index-banner">
      <img class="mainLogo" src="/media/Petopair.png">
    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--Progress Bar-->
      <div class="progressBar row">
        <div class="col s12">
          <div class="circle done">
            <span class="label">1</span>
            <span class="title">Neighb'</span>
          </div>
          <span class="bar done"></span>
          <div class="circle done">
            <span class="label">2</span>
            <span class="title">Me</span>
          </div>
          <span class="bar half"></span>
          <div class="circle active">
            <span class="label">3</span>
            <span class="title">Pet(s)</span>
          </div>
          <span class="bar"></span>
          <div class="circle">
            <span class="label">4</span>
            <span class="title">Routine</span>
          </div>
        </div>
      </div>
      <!--end progressbar-->

      <!-- First Slide -->   
      <form>
        <div class="row" id="slideOne">
          <div class="col s6">
            <p> We recommend posting a picture of you smiling. You will upload pictures of your pets separately. </p>
          </div>
          <div class="col s6">
            <input type="file" name="pic" accept="image/*" onchange="readURL(this);"/>
            <img class="materialboxed userPic" id="blah" src="#" alt="User img" width="200" height="200"/>
          </div>
        </div> <!-- end row -->

        <!-- does user have pets? -->
        <div class="row">
          <div col s6> 
            <p> So, tell us about your pets! </p> 
          </div>
        </div>
        <div class="row">
          <div class="input-field col s8">
            <input id="pet_name" type="text" class="validate">
            <label for="pet_name">Pet Name</label>
          </div>
        </div>
        <div class="row">
            <div class="input-field col s5 petTypes1" style="color: black; width: 300px;">
              <select multiple>
                <option value="" disabled selected>schweetie</option>
                <option value="1">Cat</option>
                <option value="2">Dog</option>
                <option value="3">Rabbit</option>
                <option value="4">Ferret</option>
                <option value="5">Bird</option>
                <option value="6">Rodent</option>
                <option value="7">Reptile</option>
                <option value="8">Fish</option>
              </select>
              <label>Pet Type</label>
            </div>  
        </div>
        <div class="row">
          <div id="morePets">
            <a class="waves-effect waves-light btn" id="addPet">Add another Pet</a>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s5 petTypes" style="color: black; width: 300px;">
          <!-- this will fill dynamically -->
          </div>
        </div>



        <!-- <div class="row">
          <div class="waves-effect waves-light btn submitBtn col s5" id="back1" style="background-color:blue">
            <span>Back</span>
          </div>
          <div class="waves-effect waves-light btn submitBtn col s5 offset-s2" id="next2" style="background-color:blue">
            <span>Next</span>
          </div>
        </div> -->


        <div class="row">
          <div class="col s8 offset-s2">
            <h5> On average, how much royal treatment do your pet(s) require? </h5>
            <p>For example, a pure commoner hardly begs for food, has all the chill, rarely makes a mess, and doesn't have any strict regimens. Commoners are commonly adorable. A pet requiring the ultimate royal treatment will likely make a mess if left alone too long, makes a lot of noise, requires medicine of sorts, and has special regimens. These pets are royalty in their own right. </p> 
          </div>
        </div>
        <div class="row">
          <div class="input-field col s10 offset-s1">
            <label class="treatment clearfix" for="treatment">
              <span class="commoner">Commoner</span>
              <span class="royal">Royal Treatment</span>
            </label>
            <form action="#">
              <p class="range-field">
                <input type="range" id="treatment" min="0" max="10">
              </p>
            </form>
          </div>
        </div>    

        <div class="row">
          <div class="col 1 offset-s8">
            <div class="waves-effect waves-light btn" id="formNext" style="background-color:blue">
              <span>Next</span>
            </div>
          </div>
        </div>
      </form>




      <!-- end container and section -->
    </div>  
  </div>





  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About Us</h5>
          <p class="grey-text text-lighten-4">Pet OPair is made up of four determined coding bootcamp students: Jessica Gertler, Mayat Smolnik, Julie Braun, Jennifer King, and Amber Orenstein</p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Adopt!</h5>
          <ul>
            <li><a class="white-text" href="http://www.rmfr-colorado.org">RMFR</a></li>
            <li><a class="white-text" href="http://www.ddfl.org">Dumb Friends League</a></li>
            <li><a class="white-text" href="https://maxfund.org">MaxFund</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Contact</h5>
          <ul>
            <li><a class="white-text" href="#!">Email</a></li>
            <li><a class="white-text" href="#!">Phone</a></li>
            <li><a class="white-text" href="#!">Leasing Office</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Founded in <a class="orange-text text-lighten-3" href="https://github.com/JGertler">Denver, CO</a>
      </div>
    </div>
  </footer>

</body>
</html>


<script>
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        document.getElementById('blah').src =  e.target.result;
      }
      reader.readAsDataURL(input.files[0]);
    }
  }

  $("#addPet").click(function () {
    $("select").material_select();
    $("#morePets").append("<input id='pet_name' type='text' class='validate' placeholder='Pet Name'><label for='pet_name'></label> <div class='input-field col s5 petTypes' style='color: black; width: 300px;'> <select multiple> <option value=''disabled selected></option> <option value='1'>Cat</option> <option value='2'>Dog</option> <option value='3'>Rabbit</option> <option value='4'>Ferret</option> <option value='5'>Bird</option> <option value='6'>Rodent</option> <option value='7'>Reptile</option> <option value='8'>Fish</option> </select> <label>Pet Type</label></div>");
  });
</script>

            

