<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/style.css">
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/js/materialize.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
</head>
<!-- navbar -->
<ul id="slide-out" class="side-nav" style="transform: translateX(0px);">
    <li>
        <div class="user-view">
            <div class="background">
                <img src="">
            </div>
            <a href="#!user"><img class="miniUserPic" src="/media/profPic.jpg" style="width: 100px"></a>
            <a href="#!name"><span class="green-text name">Susie Smith</span></a>
            <a href="#!email"><span class="green-text email">meowcatmeow@gmail.com</span></a>
        </div>
    </li>
    <li><a href="/profile"><i class="material-icons">account_circle</i>My Pet Profile</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a class="subheader">Activity</a></li>
    <li><a href="#!">Notifications</a></li>
    <li><a class="waves-effect" href="/bulletinboard">My Neighborhood Bulletin</a></li>
    <li><a class="waves-effect" href="#!">My Cups of Sugar</a></li>
</ul>
<!-- end navbar -->
<body>
    <nav class="lighten-1" role="navigation">
        <div class="nav-wrapper" id="navbar">
            <button data-activates="slide-out" class="button-toggle-profile waves-effect waves-light btn " id="button-toggle-profile">Profile</button>
            <a id="logo-container" href="/" class="brand-logo">Pet OPair</a>
            <!-- Dropdown Structure -->
            <ul id="dropdown1" class="dropdown-content">
                <li><a href="badges.html">About</a></li>
                <li class="divider"></li>
                <li><a href="#!">Contact</a></li>
                <li class="divider"></li>
                <li><a href="#!">Disclaimer</a></li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li><a href="badges.html">About</a></li>
                <li><span>|</span></li>
                <li><a href="#!">Contact</a>|</li>
                <li><span>|</span></li>
                <li><a href="#!">Disclaimer</a></li>
                <!-- Dropdown Trigger -->
                <!-- modal goes here -->
            </ul>
            <!--Added a place for the menu items to collapse into on smaller screens -->
            <ul class="right show-on-med-and-down hide-on-large-only  ">
                <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons right">menu</i></a></li>
            </ul>
        </div>
    </nav>
    <!-- end nav -->
    
    <div class="col 1g10 m10 s10">
        <div class="well" id="well-section">
        </div>
    </div>

    <br><br>
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">About Us</h5>
                    <p class="grey-text text-lighten-4">Pet OPair is made up of four determined coding bootcamp students: Jessica Gertler, Mayat Smolnik, Julie
                        Braun, Jennifer King, and Amber Orenstein</p>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Adopt!</h5>
                    <ul>
                        <li><a class="white-text" href="http://www.rmfr-colorado.org">RMFR</a></li>
                        <li><a class="white-text" href="http://www.ddfl.org">Dumb Friends League</a></li>
                        <li><a class="white-text" href="https://maxfund.org">MaxFund</a></li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Contact</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Email</a></li>
                        <li><a class="white-text" href="#!">Phone</a></li>
                        <li><a class="white-text" href="#!">Leasing Office</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Founded in <a class="orange-text text-lighten-3" href="https://github.com/JGertler">Denver, CO</a>
            </div>
        </div>
    </footer>
</body>
</html>
<script>
    // $(document).on("cick", "button.delete", handlePostDelete);
    // $(document).on("click", "button.edit", handlePostEdit);
    // var pets;
    // function getPets() {
    //     $.get("api/pets", function (data) {
    //         console.log("Pet data is: " + data);
    //         pets = data;
    //         if (!Pets || !Pets.length) {
    //             displayEmpty();
    //         }
    //         else {
    //             initializeRows();
    //         }
    //     });
    // }
    // getPets();
    $.get("/api/pets", function (data) {
        console.log(data);
        for (var i = 0; i < data.length; i++) {
            var wellSection = $("<div>");
            wellSection.addClass("well");
            wellSection.attr("id", "pet-well-" + i);
            $("#well-section").append(wellSection);

            $("#pet-well-" + i).append("<h4>Pet's Name: " + data[i].pet_name + "</h4>");
            $("#pet-well-" + i).append("<h6>City: " + data[i].city + "</h6>");
            $("#pet-well-" + i).append("<h6>Treatment Level (1 is Commoner - 10 is Royal Treatment): " + data[i].treatment + "</h6>");
            $("#pet-well-" + i).append("<h6>Additional Pet Info: " + data[i].petInfo + "</h6>");
            $("#pet-well-" + i).append("<h6>Start Date: " + data[i].startDate + "</h6>");
            $("#pet-well-" + i).append("<h6>End Date: " + data[i].endDate + "</h6>");
        }
    });
</script>
