<!DOCTYPE html>
<html>

<body onload="showProfile();">


  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->

    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection" />
      <link type="text/css" rel="stylesheet" href="/css/style.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/js/materialize.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>

  </head>


  <!-- navbar -->

  <ul id="slide-out" class="side-nav">
    <li>
      <div class="user-view">
        <div class="background">
          <img src="">
        </div>
        <a href="#!user"><img class="miniUserPic" src="/media/profPic.jpg" style="width: 100px"></a>
        <a href="#!name"><span class="green-text name" id="side-nav-name">Susie Smith</span></a>
        <a href="#!email"><span class="green-text email" id="side-nav-email">meowcatmeow@gmail.com</span></a>
      </div>
    </li>
    <li><a href="/profile"><i class="material-icons" >account_circle</i>My Pet Profile</a></li>
    <li>
      <div class="divider"></div>
    </li>
    <li><a class="subheader">Activity</a></li>
    <li><a href="#!">Notifications</a></li>
    <li><a class="waves-effect" href="/bulletinboard">My Neighborhood Bulletin</a></li>
    <li><a class="waves-effect" href="/bulletin">Post to Bullletin</a></li>
    <li><a class="waves-effect" href="/aboutme">Expand you profile</a></li>
    <li><a class="waves-effect" href="/logout">Log Out</a></li>
  </ul>

  <!-- end navbar -->

  <body>
    <nav class="lighten-1" role="navigation">
      <div class="nav-wrapper" id="navbar">
        <button data-activates="slide-out" class="button-toggle-profile waves-effect waves-light btn " id="button-toggle-profile">Actions</button>
        <a id="logo-container" href="/" class="brand-logo">Pet OPair </a>



        <ul id="dropdown1" class="dropdown-content">
          <li><a href="badges.html">About</a></li>
          <li class="divider"></li>
          <li><a href="#!">Contact</a></li>
          <li class="divider"></li>
          <li><a href="#!">Disclaimer</a></li>



        </ul>

        <ul class="right hide-on-med-and-down">
          <li><a href="badges.html">About</a></li>
          <li><span>|</span></li>
          <li><a href="#!">Contact</a>|</li>
          <li><span>|</span></li>
          <li><a href="#!">Disclaimer</a></li>


        </ul>

        <ul class="right show-on-med-and-down hide-on-large-only  ">
          <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons right">menu</i></a></li>
        </ul>
      </div>
    </nav>


    <div class="container" id="profile-page-container">
      <div class="row">
        <div class="col m4 col s12">
        <!-- this will be replaced by the picture from aws -->
          <img id="main-profile-pic" src="/media/profPic.jpg" alt="main profile picture"/>
        </div>
        <div class="col m6 col s12">
          <h2 id="username-h1"></h2>
          <h3 id="city-state-h3"></h3>

        </div>
      </div>
      <div class="row">
        <div class="col s12">
        <div id="about-me-div">
        </div>
      </div>
      </div>

      <div class="section">
        <div class="row">
          <h2 class="header center light col m12">Cups of Sugar</h2>

          <div  class=" col m1 col l2">

          </div>

          <div id="cupofSugar" class=" col s12 col m2" style="text-align:center">
            <img src="/media/sugar.jpg">
          </div>
          <div class="tallyBox col s12 col m2">
            <h1 id= "sugar_cups" style="text-align:center">0</h1>
          </div>
            <div class=" col s12 col m4">
              <h4> Gain more sugar by taking jobs from the bulletin! <a href="/bulletinboard.handlebars">Bulletin Board</a> </h4>
            </div>
        </div>
      </div>

    </div>




    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">About Us</h5>
            <p class="grey-text text-lighten-4">Pet OPair is made up of four determined coding bootcamp students: Jessica Gertler, Mayat Smolnik, Julie Braun, Jennifer King, and Amber Orenstein</p>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Adopt!</h5>
            <ul>
              <li><a class="white-text" href="http://www.rmfr-colorado.org">RMFR</a></li>
              <li><a class="white-text" href="http://www.ddfl.org">Dumb Friends League</a></li>
              <li><a class="white-text" href="https://maxfund.org">MaxFund</a></li>
            </ul>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Contact</h5>
            <ul>
              <li><a class="white-text" href="#!">Email</a></li>
              <li><a class="white-text" href="#!">Phone</a></li>
              <li><a class="white-text" href="#!">Leasing Office</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          Founded in <a class="orange-text text-lighten-3" href="https://github.com/JGertler">Denver, CO</a>
        </div>
      </div>
    </footer>

  </body>

</html>


<script>
var current_user_info;
  function capitalizeFirstLetter(string) {
    return string.charAt(0).toUpperCase() + string.slice(1);
  }

  function showProfile() {
    event.preventDefault();

    $.get("/profile/user", function(data) {

      var dataString = JSON.stringify(data);
      var first = capitalizeFirstLetter(data.first_name);
      var last = capitalizeFirstLetter(data.last_name)
//this will capture the first letter of the last name to show on profile (i.e. Jessica G.)
      var lastInitial = capitalizeFirstLetter(data.last_name[0] + ".");
      $("#username-quote").text(data.username);
      $("#username-h1").text(first + '  ' + lastInitial);
      $("#city-state-h3").text(data.locality + ", " + data.administrative_area_level_1)
      $("#side-nav-name").text(first + '  ' + last);
      $("#side-nav-email").text(data.email);
      $("#about-me-div").append("About user's pets here");
      $("#sugar_cups").append(data.cups_of_sugar);

    });
//replace 'uploadedPic' within the src html with the actual uploadedPic variable exported from apiRoutes.js (which is the actual aws link to photo)
      var srcpath = $('#main-profile-pic').attr('src');
      srcpath = srcpath.replace('/media/profPic.jpg','https://s3-us-west-2.amazonaws.com/petopair-west/' + uploadedPic);
      $('#main-profile-pic').attr('src',srcpath);
  };



</script>

