<!DOCTYPE html>
<html>

<head>

  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection" />
  <link type="text/css" rel="stylesheet" href="/css/style.css">

  <!-- load fontawesome -->



</head>

<!-- Slide-out Profile piece-->
<ul id="slide-out" class="side-nav">
  <li>
    <div class="user-view">
      <div class="background">
        <img src="">
      </div>
      <a href="#!user"><img class="circle" src=""></a>
      <a href="#!name"><span class="green-text name">Susie Smith</span></a>
      <a href="#!email"><span class="green-text email">meowcatmeow@gmail.com</span></a>
    </div>
  </li>
  <li><a href="#!"><i class="material-icons">account_circle</i>My Pet Profile</a></li>
  <li>
    <div class="divider"></div>
  </li>
  <li><a class="subheader">Activity</a></li>
  <li><a href="#!">Notifications</a></li>
  <li><a class="waves-effect" href="#!">My Neighborhood Bulletin</a></li>
  <li><a class="waves-effect" href="/sugar">My Cups of Sugar</a></li>
  <li><a class="waves-effect" href="/sugar">Log Out</a></li>
</ul>




<body>
  <!--navbar-->
  <nav class="lighten-1" role="navigation">
    <div class="nav-wrapper" id="navbar">
      <button data-activates="slide-out" class="button-toggle-profile waves-effect waves-light btn " id="button-toggle-profile">Profile</button>
      <a id="logo-container" href="/" class="brand-logo">Pet OPair</a>
      <!-- Dropdown Structure -->


      <ul id="dropdown1" class="dropdown-content">
        <li><a href="badges.html">About</a></li>
        <li class="divider"></li>
        <li><a href="#!">Contact</a></li>
        <li class="divider"></li>
        <li><a href="#!">Disclaimer</a></li>
      </ul>

      <ul class="right hide-on-med-and-down">
        <li><a href="badges.html">About</a></li>
        <li><span>|</span></li>
        <li><a href="#!">Contact</a>|</li>
        <li><span>|</span></li>
        <li><a href="#!">Disclaimer</a></li>
        <!-- Dropdown Trigger -->

        <!-- modal goes here -->

      </ul>
      <!--Added a place for the menu items to collapse into on smaller screens -->
      <ul class="right show-on-med-and-down hide-on-large-only  ">
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons right">menu</i></a></li>
      </ul>
    </div>
  </nav>

  <!-- end nav -->


  <div class="section no-pad-bot petBackground" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center col s6"><img class="mainLogo" src="/media/Petopair.png"></h1>
      </div>
  </div>


  <div class="container">
    <div class="section">
      <div id="error-div2"></div>
      <!-- action="/upload" method="post" -->
      <!-- <form ref="uploadForm"  enctype="multipart/form-data">
        <div class="row">
          <div class="col m2 col s1"></div>
          <div class="col s4" style="align: right">
            <img class="materialboxed userPic" id="blah" src="#" alt="User img" width="200" height="200" />
          </div>

          <div class="col m6 s12">
            <h4>Upload an Image</h4>
              <p> We recommend posting a picture of you smiling. You will upload pictures of your pets separately. </p>
            <input type="file" id="profile_url" name="profilePic" />
            <br><br>
            <input type="submit" id="picture_upload" value="Upload!" />
          </div>
        </div>
      </form> -->

      <!-- <div class="col s6">
        <input type="file" name="profilePic" accept="image/*" onchange="readURL(this);"/>
        <img class="materialboxed userPic" id="sampleProfileView" src="#" alt="User img" width="200" height="200"/>
      </div> -->
      <!-- <img src="uploads/barn_and_trees.jpg" /> -->
      <!-- Start Form -->

      <form class="col s12" id="addressPopulate" style='color: #1820ac !important'>
        <div id="error-div"></div>
        <div class="row">
          <div class="input-field col s6">
            <input id="first_name" type="text" class="validate">
            <label for="first_name">First Name</label>
          </div>
          <div class="input-field col s6">
            <input id="last_name" type="text" class="validate">
            <label for="last_name">Last Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="username" type="text" class="validate">
            <label for="username">Username</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password" type="password" class="validate">
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="email" class="validate">
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="email" class="validate">
            <label for="picture_url">Enter Picture URL</label>
          </div>
        </div>

        <!-- Google Autopopulate html -->
        <div class="row" id="address">
          <div class="col s12" id="locationField">
            <input id="autocomplete" placeholder="Enter Your Address Here" onFocus="geolocate()" type="text"></input>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <p class="label">Street address</p>
            <p class="slimField"><input class="field" id="street_number" disabled="true"></input>
            </p>
            <p class="wideField" colspan="2"><input class="field" id="route" disabled="true"></input>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <p class="label">City</p>
            <p class="wideField" colspan="3"><input class="field" id="locality" disabled="true"></input>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <p class="label">State</p>
            <p class="slimField"><input class="field" id="administrative_area_level_1" disabled="true"></input>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <p class="label">Zip code</p>
            <p class="wideField"><input class="field" id="postal_code" disabled="true"></input>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <p class="label">Country</p>
            <p class="wideField" colspan="3"><input class="field" id="country" disabled="true"></input>
            </p>
          </div>
        </div>

        <button class="btn waves-effect waves-light" id="grabdata" type="submit" name="action">Submit
<!--         <a href="/aboutMe"></a>
 -->           <i class="material-icons right">send</i>
        </button>

      </form>

      <!-- end divs for container and section -->
    </div>
  </div>

    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">About Us</h5>
            <p class="grey-text text-lighten-4">Pet OPair is made up of four determined coding bootcamp students: Jessica Gertler, Mayat Smolnik, Julie Braun, and Amber Orenstein</p>
            <p class="grey-text text-lighten-4">Pet OPair is made up of five determined coding bootcamp students: Jessica Gertler, Mayat Smolnik, Julie Braun, Jennifer King, and Amber Orenstein</p>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Adopt!</h5>
            <ul>
              <li><a class="white-text" href="http://www.rmfr-colorado.org">RMFR</a></li>
              <li><a class="white-text" href="http://www.ddfl.org">Dumb Friends League</a></li>
              <li><a class="white-text" href="https://maxfund.org">MaxFund</a></li>
            </ul>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Contact</h5>
            <ul>
              <li><a class="white-text" href="#!">Email</a></li>
              <li><a class="white-text" href="#!">Phone</a></li>
              <li><a class="white-text" href="#!">Leasing Office</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="footer-copyright">
        <div class="container">
          Founded in <a class="orange-text text-lighten-3" href="https://github.com/JGertler">Denver, CO</a>
        </div>
      </div>
    </footer>

    <!--model start-->
    <div class="container">

      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

          <div class="wrapper">
            <form class="form-signin">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h2 class="form-signin-heading">Please login</h2>
              <div id="error-div"></div>
              <input type="text" class="form-control" name="username" placeholder="Username" id="login-name" required="" autofocus="" />
              <input type="password" class="form-control" name="password" id="login-password" placeholder="Password" required="" />
              <label class="checkbox">
        <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
      </label>
              <button class="btn btn-lg btn-primary btn-block" type="submit" id="login-btn">Login</button>
            </form>
            <br>
            <p>Need an account? <a href="/signup">Signup</a></p>
            <p>Or go <a href="/">home</a>.</p>
          </div>

        </div>
      </div>

    </div>

    <!--model end-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/materialize.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
    <script>
    var currentUser;
      $("#login-btn").on("click", loginData);

      function loginData(event) {
        event.preventDefault();


        var username = $("#login-name").val().trim();
        var password = $("#login-password").val().trim();



        var info = {
          username: username,
          password: password
        }

        $.post("/signin", info, function(userObject) {
          //console.log(userObject);
          currentUser=JSON.stringify(userObject);
          //  window.location.href ='/bulletin';
          window.location.href = '/profile';

        }).catch(function(data) {
        //  window.location.href='/';
          JSON.stringify(data);
          var message=$('<p>').text("Wrong user name or password!");
          message.css("color","red");
          $("#error-div").empty();
          $("#error-div").append(message);
          //console.log(data);
        })
      }
    </script>
</body>


</html>

<script>
  //function which grab the user's input data from the sign up form and puts it into an object to route to the table
  var userObject;

  function grabData(event) {
    event.preventDefault();
    var address = $("#autocomplete").val().trim();
    var queryUrl = "https://maps.googleapis.com/maps/api/geocode/json?address=" + address + "&key=AIzaSyBaw-4l7qS4b_L7kXhuHViE2smEu1k34Dw";



    var first_name = $("#first_name").val().trim(),
      last_name = $("#last_name").val().trim(),
      username = $("#username").val().trim(),
      password = $("#password").val().trim(),
      email = $("#email").val().trim(),
      //picture_url = $("#picture_url").val().trim(),
      autocomplete = $("#autocomplete").val().trim(),
      street_number = $("#street_number").val().trim(),
      route = $("#route").val().trim(),
      locality = $("#locality").val().trim(),
      administrative_area_level_1 = $("#administrative_area_level_1").val().trim(),
      postal_code = $("#postal_code").val().trim(),
      country = $("#country").val().trim();


    var info = {
      first_name: first_name,
      last_name: last_name,
      cups_of_sugar: 0,
      //picture_url:picture_url,
      username: username,
      password: password,
      email: email,
      autocomplete: autocomplete,
      street_number: street_number,
      route: route,
      locality: locality,
      administrative_area_level_1: administrative_area_level_1,
      postal_code: postal_code,
      country: country

    }

    $.post("/put_newuser_in_db", info, function(userObject) {
      //  console.log(userObject);
      window.location.href = '/profile';
    }).catch(function(data) {
      //  window.location.href='/';
      //JSON.stringify(data);
      var message = $('<p>').text("Username is Taken");
      message.css("color", "red");
      $("#error-div").empty();
      $("#error-div").append(message);
      //console.log(data);
    })
  }

  $("#picture_upload").on('click', loadPic);
  $("#grabdata").on("click", grabData);

  function loadPic(){
    var profile_url=$("#profile_url").val.trim()
    $.post("/upload", profile_url, function() {
      //  console.log(userObject);
      window.location.href = '/';
    }).catch(function(data) {
      //  window.location.href='/';
      //JSON.stringify(data);
      var message = $('<p>').text("Error in picture upload");
      message.css("color", "red");
      $("#error-div2").empty();
      $("#error-div2").append(message);
      //console.log(data);
    })
  }

  //ends grabData function


  // This displays an address form, using the autocomplete feature
  // of the Google Places API to help users fill in the information.
  // This example requires the Places library. Include the libraries=places
  // parameter when you first load the API. For example:
  // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">
  var placeSearch, autocomplete;
  var componentForm = {
    street_number: 'short_name',
    route: 'long_name',
    locality: 'long_name',
    administrative_area_level_1: 'short_name',
    country: 'long_name',
    postal_code: 'short_name'
  };

  function initAutocomplete() {
    // Create the autocomplete object, restricting the search to geographical
    // location types.
    autocomplete = new google.maps.places.Autocomplete(
      /** @type {!HTMLInputElement} */
      (document.getElementById('autocomplete')), {
        types: ['geocode']
      });
    // When the user selects an address from the dropdown, populate the address
    // fields in the form.
    autocomplete.addListener('place_changed', fillInAddress);
  }

  function fillInAddress() {
    // Get the place details from the autocomplete object.
    var place = autocomplete.getPlace();
    for (var component in componentForm) {
      document.getElementById(component).value = '';
      document.getElementById(component).disabled = false;
    }
    // Get each component of the address from the place details
    // and fill the corresponding field on the form.
    for (var i = 0; i < place.address_components.length; i++) {
      var addressType = place.address_components[i].types[0];
      if (componentForm[addressType]) {
        var val = place.address_components[i][componentForm[addressType]];
        document.getElementById(addressType).value = val;
      }
    }
  }
  // Bias the autocomplete object to the user's geographical location,
  // as supplied by the browser's 'navigator.geolocation' object.
  function geolocate() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var geolocation = {
          lat: position.coords.latitude,

          lng: position.coords.longitude
        };

        var circle = new google.maps.Circle({
          center: geolocation,
          radius: position.coords.accuracy
        });
        autocomplete.setBounds(circle.getBounds());
      });
    }
  }


  //});
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0Zeq_ONgdAnTqmMn9n4sD94vTut2WIeY&libraries=places&callback=initAutocomplete" async defer></script>

