
body {
  padding-left: 0px;
};

@media only screen and (min-width : 768px) {
  header, main, footer {
    padding-left: 0;
    }
};
#about-me-div{

}
#username-h2{
  margin:0px;
}
#profile-page-container{
  margin-top:30px;
}
#main-profile-pic{
  width: 100%;
  height:auto;
}


.petBackground {
    background-image: url("../media/petCartoon.png");
    background-repeat: no-repeat;
    background-position: right top;

};


.mainLogo {
  padding: 0px;
}

.page-footer {
   background-color: #6aac18;
};

nav {
   background-color: #1820ac !important;
}

#signUpButton {
   background-color: #186aac !important;
}

.material-icons {
   color: #6aac18 !important;
   font-size: 40px;
}

#slide-out {
   background-color: #dcdefa;
}

#blah {
    background-image: url("../media/profPic.jpg");
    background-repeat: no-repeat;
    margin: 0px;
    background-position: center;
    width: 200px;
    height: auto;

};


td, th {
  color: #1820ac !important;
}


#slideTwo #slideThree {
display: none;
}

#formNext {
  margin: 30px;
}


#logo-container {
  margin-left: 40px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

label.treatment {
  display: block;
  width: 96%;

}

label.treatment .commoner {
  display: block;
  float: left;

}

label.treatment .royal{
  display: block;
  float: right;
  text-align: right;

}
.petBackground {
    background-image: url("../media/petCartoon.png");
    background-repeat: no-repeat;
    background-position: right top;

};

/*tally box for cups of sugar accrued */

.tallyBox {
  margin-top: 100px;
  width: 60px;
  height: 60px;
  border-color: #3998e5;
  border-style: solid;
  font-size: 30px;
}

#cupofSugar {
  margin-right: 100px;
}

.placeholderNumber {
  font-size: 12px;
}
/*end tally styling*/



/.progressBar Bar Styling*/
*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Form.progressBar */
.progressBar {
  width: 100%;
  text-align: center;
}
.progressBar .circle,
.progressBar .bar {
  display: inline-block;
  background: #fff;
  width: 40px; height: 40px;
  border-radius: 40px;
  border: 1px solid #d5d5da;
}
.progressBar .bar {
  position: relative;
  width: 80px;
  height: 6px;
  top: -33px;
  margin-left: -5px;
  margin-right: -5px;
  border-left: none;
  border-right: none;
  border-radius: 0;
}
.progressBar .circle .label {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 32px;
  margin-top: 3px;
  color: #b5b5ba;
}
.progressBar .circle .title {
  color: #b5b5ba;
  font-size: 10px;
  line-height: 1px;

}

/* Done / Active */
.progressBar .bar.done,
.progressBar .circle.done {
  background: #eee;
}
.progressBar .bar.active {
  background: linear-gradient(to right, #EEE 40%, #FFF 60%);
}
.progressBar .circle.done .label {
  color: #FFF;
  background: #8bc435;
  box-shadow: inset 0 0 2px rgba(0,0,0,.2);
}
.progressBar .circle.done .title {
  color: #444;
}
.progressBar .circle.active .label {
  color: #FFF;
  background: #0c95be;
  box-shadow: inset 0 0 2px rgba(0,0,0,.2);
}
.progressBar .circle.active .title {
  color: #0c95be;
}

/*end.progressBar bar styling*/

#slideOne {
margin-left: 10%;
}

p {
  color: black;
}


