@media only screen and (min-width : 768px) {
  header, main, footer {
    padding-left: 0;
    }
};
#about-me-div{

}
#username-h2{
  margin:0px;
}
#profile-page-container{
  margin-top:30px;
}

.modalContainer {
  margin: 0 auto;
}

.form-signin-heading {
  font-family: 'Gloria Hallelujah';
}
.petBackground {
    background-image: url("../media/petCartoon.png");
    background-repeat: no-repeat;
    background-position: right top;

}


.mainLogo {
  padding: 0px;
  position: relative;

}




.page-footer h5 {
  font-family: 'Concert One' !important;
}

#signUpButton {
   background-color: #C04ABC !important;

}

.material-icons {
   color: #2D3047 !important;
   font-size: 40px;
}



#bulletinHeader {
  text-align: center;
  font-family: "Shadows Into Light", cursive;
}
td, th {
  color: #1820ac !important;
}


.brand-logo{
  margin: 0px !important;
  padding: 0px !important;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

label.treatment {
  display: block;
  width: 96%;

}

label.treatment .commoner {
  display: block;
  float: left;

}

label.treatment .royal{
  display: block;
  float: right;
  text-align: right;

}
.petBackground {
    background-image: url("../media/petCartoon.png");
    background-repeat: no-repeat;
    background-position: right top;

};



#cupofSugar {
  margin-right: 100px;
}


p {
  color: black;
}

.main-profile-pic {
  padding: 30px 10px 55px 10px;
  background-color: white;
}

.profileContainer {
  background-image: url("../media/brickwall.jpg");
  padding-top: 20px;
}

/*these all contain our pallet colors */
.side-nav {
  background-color: #F4D35E !important;
  font-family: 'Concert One' !important;
}

.user-view {
  background-color: #FFDBB5 !important;
}

#navbar {
    background-color: #2D3047 !important;
    font-family: 'Concert One' !important;
}

.page-footer {
    background-color: #419D78 !important;
}


button{
  background-color: #F4D35E !important;
}

.modal-trigger {
  background-color: #419D78 !important;
}

.homeBtn {
  position: relative;
  left: 30px;
  font-size: 45px !important;
  color: #C04ABC !important;
}



.defaultPic {
    background-image: url("../media/profPic.jpg");
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
}

#preview {
    background-repeat: no-repeat;
    margin: 0px;
    background-position: center;
    width: 230px;
    height: auto;
}

    /* Add a hover effect (blue shadow) */
#preview:hover {
box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);

}

#profBtn {
  display: none;
}
