body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

@media only screen and (min-width : 768px) {
  header, main, footer {
    padding-left: 0;
    }
};

p {
  color: black;
}
.disclaimer {
  font-size: 12px !important;
  font-family: 'Gloria Hallelujah' !important;

}

#about-me-div{
border: solid;
border-color: white !important;
}

#username-h1{
  font-family: 'Gloria Hallelujah';
  margin:0px;
}

#city-state-h3 {
  font-family: 'Concert One';
}


.modalContainer {
  margin: 0 auto;
}

.form-signin-heading {
  font-family: 'Gloria Hallelujah';
}
.petBackground {
    background-image: url("../media/petCartoon.png");
    background-repeat: repeat;

}

button.grabDataBtn  {
  position: relative;
  bottom: 24px;
}

.mainLogo {
  padding: 0px;
  position: relative;

}




.page-footer h5 {
  font-family: 'Concert One' !important;
}

#signUpButton {
   background-color: #d35e10 !important;

}

.material-icons {
   color: #1e374d!important;
   font-size: 40px;
}



#bulletinHeader {
  text-align: center;
  font-family: "Shadows Into Light", cursive;
}
td, th {
  color: #1820ac !important;
}


.brand-logo{
  margin: 0px !important;
  padding: 0px !important;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

label.treatment {
  display: block;
  width: 96%;

}

label.treatment .commoner {
  display: block;
  float: left;

}

label.treatment .royal{
  display: block;
  float: right;
  text-align: right;

}
.petBackground {
    background-image: url("../media/petCartoon.png");
    background-repeat: no-repeat;
    background-position: right top;

};



#cupofSugar {
  margin-right: 100px;
}



.main-profile-pic {
  padding: 30px 10px 55px 10px;
  background-color: white;
}

.socialMedia li {
  font-size: 30px;
  display: inline;
}

#profile-page-container {
  margin-top: 50px;

}

.profileContainer {
  border: solid;
  border-color: white;
  background-color: #d9ebe4;
}

/*these all contain our pallet colors */
.side-nav {
  background-color: #83C452 !important;
  font-family: 'Concert One' !important;
}

.navLogo {
  margin: 0;
  padding: 0;
  width: 250px;
  position: relative;
  bottom: 30px;
}

.side-nav li>a{
  font-size: 18px !important;
  color: white !important;
}

nav ul a {
  font-size: 18px !important;
}

.user-view {
  background-color: #1e374d;
}

.user-view span {
  color: white;
}
.user-view a {
  color: black;
}

#navbar {
    background-color: #1e374d!important;
    font-family: 'Concert One' !important;
}

.page-footer {
    background-color: #83C452 !important;
}


button{
  background-color: #e0bc53 !important;
}

.modal-trigger {
  background-color: #83C452 !important;
}

.homeBtn {
  position: relative;
  left: 30px;
  font-size: 45px !important;
  color: #d35e10 !important;
}



.defaultPic {
    background-image: url("../media/profPic.jpg");
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
}

#preview {
    background-repeat: no-repeat;
    margin: 0px;
    background-position: center;
    width: 230px;
    height: auto;
}

    /* Add a hover effect (blue shadow) */
#preview:hover {
box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);

}

#profBtn {
  display: none;
}


#petModal {
  color: black;
}

#petPreview {
  width: 150px;
  height: 150px;
  background-image: url("../media/pawPlaceholder.png");
}
