<!DOCTYPE html>
<html>

<head>
<% include ../partials/head %>
</head>

<body>

  <!--navigation-->
  <% include ../partials/navigation %>

  <div class="section no-pad-bot" id="index-banner">
    <h1 class="header center"><img class="mainLogo" src="/media/Petopair.png"></h1>
  </div>


  <div class="container">
    <div class="section">

      <!-- Start Form -->

      <form class="col s12" id="bulletin" style='color: #1820ac !important'>
        <ul class="collection">
          <li class="collection-item avatar">
            <img src="/media/petCartoon.png" alt="" class="circle">
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
          <div class="input-field col s12">
            <input id="pet_name" type="text" class="validate">
            <label for="pet_name">Pet's Name</label>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <input id="city_name" type="text" class="validate">
              <label for="City">City</label>
            </div>
          </div>
          <div class="row">
            <div class="col s8 offset-s2">
              <h5 style="font-family: 'Gloria Hallelujah', cursive;"> How much royal treatment do your pet(s) require this visit? </h5>
              <p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
                For example, a pure commoner hardly begs for food, has all the chill, rarely makes a mess, and doesn't have any strict regimens. Commoners are commonly adorable. A pet requiring the ultimate royal treatment will likely make a mess if left alone too long, makes a lot of noise, requires medicine of sorts, and has special regimens. These pets are royalty in their own right, but you get pretty embarassed by the list of things your petsitter has to be aware of.</p>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <label class="treatment clearfix" for="treatment">
                  <span class="commoner">Commoner</span>
                  <span class="royal">Royal Treatment</span>
              </label>
              <form action="#">
                <p class="range-field">
                  <input type="range" id="treatment" min="0" max="10">
                </p>

              </form>
            </div>
          </div>
          <div class="row">
            <form class="col s12">
              <div class="input-field col s12">
                <textarea id="more_info" class="materialize-textarea" data-length="120"></textarea>
                <label for="textarea1">Please add enter any additional instructions here: </label>
            </form>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s6">
              <input id="start_date" type="text" class="validate datepicker">
              <label for="start_date">Start Date</label>
            </div>

            <div class="input-field col s6">
              <input id="end_date" type="text" class="validate datepicker">
              <label for="end_date">End Date</label>
            </div>

          </div>
    </div>

  </div>


  <button class="btn waves-effect waves-light" id="grabbulletindata" type="submit" name="action">Submit
          <!--         <a href="/aboutMe"></a>
          -->           <i class="material-icons right">send</i>
          </button>

  </form>

  <!-- end divs for container and section -->
  </div>
  </div>

  <footer class="page-footer">
  <% include ../partials/footer%>
  </footer>


</body>
<script>
  $('.datepicker').pickadate({
    selectMonths: true,
    // Creates a dropdown to control month
    selectYears: 15,
    // Creates a dropdown of 15 years to control year,
    today: 'Today',
    clear: 'Clear',
    close: 'Ok',
    closeOnSelect: false // Close upon selecting a date,
  });


  function grabBulletinData(event) {
    event.preventDefault();
    console.log("grab pet data button works");
    var pet_for_care:  = $("#pet_for_care").val().trim();
    var city_for_care = $("#city_for_care").val().trim();
    var treatment_level: = $("#treatment_level").val().trim();
    var added_notes = $("#added_notes").val().trim();
    var start_date = $("#start_date").val().trim();
    var end_date = $("#end_date").val().trim();


    var petInfo = {
      pet_name: pet_name,
      city: city,
      treatment: treatment,
      moreInfo: moreInfo,
      startDate: startDate,
      endDate: endDate

    }

    $.post("/request_sitter_in_db", petInfo, function (data) {
      console.log(data);
      window.location.href = '/bulletinboard';
    })
  }


  $("#grabbulletindata").on("click", grabBulletinData);

  //ends grabData function

</script>

</html>
