<!DOCTYPE html>
<html>
<head>
<% include ../partials/head %>
</head>

<body>
  <!--navigation-->
  <% include ../partials/navigation %>
    <!-- end nav -->

    <div class="col 1g10 m10 s10">
        <div class="well" id="well-section">
        <% include ../partials/bulletin %>
        </div>
    </div>

    <footer class="page-footer">
    <% include ../partials/footer%>
    </footer>
</body>
</html>
<script>
    // $(document).on("cick", "button.delete", handlePostDelete);
    // $(document).on("click", "button.edit", handlePostEdit);
    // var pets;
    // function getPets() {
    //     $.get("api/pets", function (data) {
    //         console.log("Pet data is: " + data);
    //         pets = data;
    //         if (!Pets || !Pets.length) {
    //             displayEmpty();
    //         }
    //         else {
    //             initializeRows();
    //         }
    //     });
    // }
    // getPets();
    $.get("/api/sitterRequests", function (data) {
        console.log(data);
        for (var i = 0; i < data.length; i++) {
            var wellSection = $("<div>");
            wellSection.addClass("well");
            wellSection.attr("id", "pet-well-" + i);
            $("#well-section").append(wellSection);

            $("#pet-well-" + i).append("<h4>Pet's Name: " + data[i].pet_for_care + "</h4>");
            $("#pet-well-" + i).append("<h4>City: " + data[i].city_for_care + "</h4>");
            $("#pet-well-" + i).append("<h6>Treatment Level (1 is Commoner - 10 is Royal Treatment): " + data[i].treatment_level + "</h6>");
            $("#pet-well-" + i).append("<h6>Instructions: " + data[i].added_notes + "</h6>");
            $("#pet-well-" + i).append("<h6>Start Date: " + data[i].start_date + "</h6>");
            $("#pet-well-" + i).append("<h6>End Date: " + data[i].end_date + "</h6>");
        }
    });
</script>
