<!DOCTYPE html>
<html>

<head>
<% include ../partials/head %>
</head>

    <body>
            <% include ../partials/navigation %>
        <div class="container">
            <div class="section"></div>
                    <img src="/media/404.jpg" alt="Sorry can't find that!" style= "margin-left: 20%; margin-right: auto; margin-top: 5%";>
            </div>
        </div>

    </body>
    
    <footer class="page-footer">
        <% include ../partials/footer%>
      </footer>
</html>