<!DOCTYPE html>
<html>

<head>
<% include ../partials/head %>
</head>


<body>
  <!--navigation-->
  <% include ../partials/navigation %>

  <div class="section no-pad-bot petBackground" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center col s6"><img class="mainLogo animated bounceIn" src="/media/Petopair.png"></h1>
      <div class="row center">
        <h5 class="header col s12 light">A co-op for neighbors to exchange free petsitting favors. Meow. Woofwoof.</h5>
      </div>
      <div class="row center">
        <a href="/signup" id="signUpButton" class="btn-large waves-effect waves-light">Sign Up</a>
        <a class="btn-large waves-effect waves-light modal-trigger" href="#signInModal">Login</a>
        <!--model start-->
        <% include ../partials/signInModal %>
        <!--model end-->
      </div>


      <div class="container">
        <div class="section">

          <!--   Icon Section   -->
          <div class="row">
            <div class="col s4 m4">
              <div class="icon-block">
                <h2 class="center"><i class="animated bounceIn material-icons">pets</i></h2>
                <h5 class="center">Love Thy Neighbors' Pets</h5>

                <p class="light">Want to hang out with that cute dog next door that you always see strutting around the neighborhood? Now is your chance! Pet OPair provides a platform for pet parents to notify their neighbors when they need their pets taken care of.</p>
              </div>
            </div>

            <div class="col s4 m4">
              <div class="icon-block">
                <h2 class="center"><i class="animated bounceIn material-icons">location_city</i></h2>
                <h5 class="center">Trust Thy Neighbor With Your Pets</h5>

                <p class="light">Members of the Pet OPair community all must pass background checks. Further, pet parents must be upfront and thorough about the level of care their pets require. We believe compassionate pet parents can use their discretion to trust other
                  compassionate pet parents.</p>
              </div>
            </div>

            <div class="col s4 m4">
              <div class="icon-block">
                <h2 class="center"><i class="animated bounceIn material-icons">accessibility</i></h2>
                <h5 class="center">Give a little, take a little.</h5>

                <p class="light">OPair is our cute way of spelling the French word "Au Pair", which literally means "on equal terms." Au Pair was originally used as an adjective to describe an arrangement between two parties paid for by the exchange of mutual service.
                  Pet OPair is just that: neighbors offering petsitting favors in order to receive petsitting favors.</p>
              </div>
            </div>
          </div>

        </div>
        <br><br>
      </div>


    </div>
    <footer class="page-footer">
    <% include ../partials/footer%>
    </footer>



</body>


</html>
