<!DOCTYPE html>
<html>

<head>
<% include ../partials/head %>
</head>


<body>
  <!--navigation-->
  <% include ../partials/navigation %>
  <!-- does user have pets? -->


<div class="container petBox" style="background-color: #faf8dc; padding: 30px;" href="#four!">
  <div class="circle circleQ">
    <div class="switch">
    <p class='animated wobble'> Do you have pets? </p>
      <label class="yesno" style="color: white; font-size: 20px">
        No
        <input id="switch" type="checkbox">
        <span class="lever"></span>
        Yes
      </label>
    </div>
  </div>
<div class="petForm">
  <div class="row">
    <div col s6>
      <p> Introduce your pet(s)! </p>
    </div>
  </div>
  <form ref="uploadForm_Pets" action="/uploadForm_Pets" method="post" enctype="multipart/form-data">

  <div class="row">
    <div class="input-field col s4">
      <input id="pet_name" type="text" class="validate">
      <label for="pet_name">Pet Name</label>
    </div>

    <div class="input-field col s4">
    <input type="file" id="file-input" name="pet_uploadedPic" accept="image/*" onchange="readURL(this);"/>
    <img class="materialboxed defaultPic" id="petPreview" class="main-Pet-Pic" src="/pet_pic" alt="User img"/>
    </div>

    <div class="input-field col s4" id="pet_type" style="color: black; width: 300px;">
      <select multiple>
        <option value="" disabled selected>schweetie</option>
        <option value="1">Cat</option>
        <option value="2">Dog</option>
        <option value="3">Rabbit</option>
        <option value="4">Ferret</option>
        <option value="5">Bird</option>
        <option value="6">Rodent</option>
        <option value="7">Reptile</option>
        <option value="8">Fish</option>
      </select>
      <label>Pet Type</label>
    </div>
  </div>
    <div class="input-field col s4">

    </div>

  <div class="row" id="morePets">
        <!-- this will fill dynamically when new pets are added -->
  </div>

  <div class="row">
      <a class="waves-effect waves-light btn" id="addPet">Add another Pet<i class="material-icons">pets</i></a>
  </div>
  <div class="row">
    <div class="input-field col s10 offset-s1">
        <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header"><i class="material-icons">snooze</i>This pet's breakfast.</div>
        <div class="collapsible-body">
          <span>
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label id="morning" for="textarea1"></label>
          </span>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">wb_sunny</i>This pet's midday food, if applicable.</div>
        <div class="collapsible-body">
          <span>
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label id="midday" for="textarea1"></label>
          </span>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">cake</i>This pet's dinner.</div>
        <div class="collapsible-body">
          <span>
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label id="night" for="textarea1"></label>
          </span>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">event_note</i>The normal notes I leave my petsitters.</div>
        <div class="collapsible-body">
          <span>
          <textarea id="textarea1" class="materialize-textarea" placeholder="Don't be embarassed about the royal treatment your pet might require. Be honest and embrace your pet's royalty."></textarea>
          <label id="notes" for="textarea1"></label>
          </span>
        </div>
      </li>
      </ul>
  </div>
</div>
  <button class="btn waves-effect waves-light" id="grabdata_pets" type="submit" name="action">Submit<i class="material-icons right">send</i>
  </button>

</form>
</div>
</div>


    <footer class="page-footer">
    <% include ../partials/footer%>
    </footer>

  </body>

</html>


<script>
//allows pet pics to display
function readURL(input) {
  var elem = $(input);
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    reader.onload = function(e) {
      elem.siblings('img').attr('src', e.target.result);
    }
    reader.readAsDataURL(elem.get(0).files[0]);
  }
}


$("input[type='file']").change(function() {
  readURL(this);
});
//this allows user to add more pets with pet type in the form
var numPets = 1;
var yesPets= $('#switch').is(":checked");
$('#notes').trigger('autoresize');
$("#switch").on('change', function() {
      $(".petForm").toggle();
});
$("#addPet").click(function () {
  numPets++;
$("#morePets").prepend("<div class='input-field col s4'> \
<input id='pet_name" + numPets + "' type='text' class='validate' placeholder='Pet Name'> <label for='pet_name'></label> </div> \
<div class='input-field col s4' id='petType" + numPets + "'style='color: black; width: 300px;'> \
<select multiple> \
<option value=''disabled selected></option> \
<option value='1'>Cat</option> \
<option value='2'>Dog</option>\
 <option value='3'>Rabbit</option> \
 <option value='4'>Ferret</option> \
 <option value='5'>Bird</option> \
 <option value='6'>Rodent</option> \
 <option value='7'>Reptile</option> \
 <option value='8'>Fish</option> \
 </select> \
 <label>Pet Type</label>\
 </div>  \
 <div class='input-field col s4'> \
 <input type='file' id='petPreview" + numPets + "' name='pet_uploadedPic' accept='image/*' onchange='readURL(this);'/> \
 <img class='materialboxed defaultPic' id='petPreviewImg" + numPets + "' class='main-Pet-Pic' src='/pet_pic' alt='User img'/> \
 </div>");
  $("select").material_select();
  $(".petBox").css({"height": "+=100px"});
});

var petObject;
function grabData_Pets(event) {
  event.preventDefault();
  var petArray = [];
  for (var i=1; i<numPets; i++){
    // get variables
    var pet_name = $("#pet_name"+i).val().trim(),
    pet_pic= $("#petPreview" +i).val().trim(),
    pet_type = $("#pet_type"+i).val().trim(),
    morning= $("#morning"+i).val().trim(),
    midday= $("#midday"+i).val().trim(),
    night= $("#night"+i).val().trim(),
    notes= $("#notes"+i).val().trim();
    var petInfo = {
      pet_name: pet_name,
      pet_pic: pet_pic,
      pet_type: pet_type,
      morning: morning,
      midday: midday,
      night: night,
      notes: notes
    };
    // push to array
    petArray.push(petInfo);
  } //end loop
// ajax call because this is on the frontend
  $.post("/put_pet_in_db", petArray, function(petObject) {
     console.log("heyhey" + petObject)
    //  console.log(userObject);
    window.location.href = '/profile';
    if (petObject == "data not entered correctly") {
      console.log("error -- this error will be more descript later depending on UX decisions")
    }
  }).catch(function(data) {
    //  window.location.href='/';
    //JSON.stringify(data);
    var message = $('<p>').text("Must add Pet Name");
    message.css("color", "red");
    $("#error-div").empty();
    $("#error-div").append(message);
    //console.log(data);
  })
} // end grabdata function
//on click of "Submit" button, the grabdata function occurs
$("#grabdata_pets").on("click", grabData_Pets);
</script>
