<!DOCTYPE html>
<html>

<body>

  <head>
  <% include ../partials/head %>
  </head>

  <body>
    <!--navigation-->
    <% include ../partials/navigation %>
<div id="profile-page-container">
    <div class="container">
      <div class="row profileContainer">
        <!--where user uploads profile picture -->
        <form ref="uploadForm" action="/uploadForm" method="post" enctype="multipart/form-data">
          <div class="col s4">
              <input type="file" id="file-input" name="uploadedPic" accept="image/*" onchange="readURL(this);"/>
              <img class="materialboxed userPic" id="preview" class="main-profile-pic" src="/profile_pic" alt="User img"/>
              <button id="profBtn" class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">camera_alt</i>
              </button>
          </div>
        </form>
        <div class="col s4">
          <h2 id="username-h1"></h2>
          <ul class="socialMedia">
            <li><i class="fa fa-facebook-square" style="color: blue"></i></li>
            <li><i class="fa fa-twitter" style="color: #00aced"></i></li>
            <li><i class="fa fa-instagram" style="color: #bc2a8d"></i></li>
          </ul>
          <h3 id="city-state-h3"></h3>
          <img src="/media/sugar.jpg" style="width: 50px">
        </div>
        <div class="col s4" style="color: white; background-color: black; padding-bottom: 120px">
          <p class="animated bounceIn" style="font-weight: bold; font-family: Gloria Hallelujah; size: 20px"> Introduce your pets <a href="/pets">here</a>!</p>
          <p> Gain more sugar by taking jobs from the <a href="/bulletinboard">Bulletin Board</a>!</p>
          <p> Need a sitter? Ask your neighbors <a href="/bulletin">here</a>!</p>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <div id="about-pets-div">
          </div>
        </div>
      </div>
    </div>
</div>

    <footer class="page-footer">
    <% include ../partials/footer%>
    </footer>

  </body>

</html>


<script>
  // this allows picture uploads to display on page
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        document.getElementById('preview').src =  e.target.result;
      }
      reader.readAsDataURL(input.files[0]);
    }
    $('#profBtn').css("display", "block");
    $('.background-image').css("background-image", "inherit");
  }
</script>
